body {
    font-family: 'Poppins', sans-serif;
}

.envoltura {
    border: 1px solid red;
    height: 100vh;
}


.hover_sector g:hover {
    filter: drop-shadow(-1px 1px 4px rgba(0,0,0,0.75));
}

/* .contenedor-mapa-detalles {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
} */

svg {
    width: 80%;
    height: 80%;
}

/* .info__sector p {
    background-color: blue;
    color: white;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;


.fotos__comunas {
    width: 300px;
    height: 300px;
}

